
p {
    color: black;
	word-spacing: 0.1em;
	line-height: 1.5em; 
	line-spacing : 1em;
}


h1 {
	text-align : center;
	color : #2F6D7A;
	letter-spacing : 0.1em;
	

}

h2 {
	color : black;
	text-align : center;
    padding: 2px;
	
    
}

body {
	font-size : 15px;
	
	
	width: 900px; 
	margin: 0 auto; 
	
	font-family : Inconsolata, calibri, arial;
		
	background-image : url("crossword.png");
	
}

#link
{
	margin-left: auto;
    margin-right: auto;
    width: 15%;
	padding : 5x;

}

#menu ul {
	text-align : center;
	list-style : none;
	margin : 0;
	padding : 0;
	word-spacing : 0.5em;
	
	
	
	padding: 2px;

}
#menu li {
	
	display : inline-block;
	

}

a{
	
	color : #2F6D7A;
	text-decoration : none;
	font-weight : bold;
	font-size : 18px;
}

#content

{

	border-style: groove;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
	border-color : black;
	
	
	padding : 10px;
}

#meme

{

text-align : center;

}

#siteTitle

{

	border-style: groove;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
	border-color : black;

}